

.add-remove-btn{
    height: 2rem;
    width: 8rem;
    /* border-radius: 50%; */
    border: 0.1rem solid white;
    color: white;
    background-color: blue;
    /* margin: 0.2rem 0rem; */
    
    transition-duration: 0.4s;
    
}
.remove-btn{
    margin: auto;
    font-size: 1.6rem;
}

.add-btn{
    line-height: 1.8rem;
    font-size: 2.2rem;

}

.add-remove-btn:hover{
    background-color: rgb(255, 255, 255);
    color: blue;
    border-color: blue;
}

